<div class="container wrapper">
{{#if images}}
{{#each images}}
<a href="/{{../imagePath}}{{filename}}">
    <img src="{{../imagePath}}{{filename}}" alt="{{filename}}" height="200px" class="meme-part"/>
</a>
{{/each}}
{{/if}}
</div>
